html {
    font-family: "Arial, sans-serif";
    color: yellowgreen;
    
}

body {
    /* background-image: url("../images/backgroundImag.jpg"); */
    background-image: url("../images/backgroundimg.jpg");
    background-repeat: repeat-y;
    background-color: lightcyan;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    fill-opacity: 0.6;
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-weight: bold;
}

#title {
    padding-left: 15em;
}
a {
    color: orange;
}

ul li {
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}

#quotediv ul {
    padding-left: 15em;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}